<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>RPG</title>
  {{ style('app') }}
  <link rel="icon" href="spiked-dragon-head.png" type="image/x-icon">
</head>
<body class="bg-gray-300" >
    @include('layout.header')
    <div>
        @!section('content')
    </div>
</body>
</html>
