<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8 " name="viewport" content="width=device-width, initial-scale=1" />
  <title>RPG</title>
  {{ style('app') }}
  <link rel="icon" href="spiked-dragon-head.png" type="image/x-icon">
</head>
<body class="flex flex-col h-screen w-screen bg-gray-400" >
    <div class="flex w-screen ">
        @include('layout.header')
    </div>
    <div class="flex flex-auto w-screen overflow-y-auto">
        @!section('content')
    </div>


</body>
</html>
