<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8 " name="viewport" content="width=device-width, initial-scale=1" />
  <title>RPG</title>
  {{ style('app') }}
  <link rel="icon" href="spiked-dragon-head.png" type="image/x-icon">
</head>
<body class="container bg-gray-400" >
    @include('layout.header')

    @!section('content')

</body>
</html>
